@import "../../../styles/variables";

.background-modal-overlay {
  background-color: $grey;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  display: flex;
  justify-content: center;
  align-items: center;

  .modal-wrapper {
    width: 560px;
    height: 325px;
    border-radius: 16px;
    background-color: $white;
    padding: 48px;

    .modal-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 48px;

      h2 {
        font-size: 24px;
        font-weight: 500;
      }

      button {
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        transition: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
      }

      button:hover {
        color: $hover-black;
        transform: translateY(-1px);
      }
    }

    .input-category-wrapper {
      display: flex;
      flex-direction: column;
      gap: 24px;
      div {
        position: absolute;

        label {
          font-size: 14px;
          position: relative;
          background-color: $white;
          padding: 0px 8px;
          left: 11px;
          bottom: 11px;
        }
      }

      input {
        outline: none;
        box-shadow: 0px 1px 2px #00000014;
        border: 1px solid #dddddd;
        border-radius: 4px;
        height: 64px;
        padding: 20px;
      }

      button {
        background-color: $black;
        border: none;
        border-radius: 4px;
        color: $white;
        padding: 22px;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        transition: all;
        transition-duration: 0.2s;
        transition-timing-function: ease-in;
      }

      button:hover {
        background-color: $hover-black;
        transform: translateY(-3px);
      }
    }
  }
}
