@import "../../styles/variables";

.card-wrapper {
  background-color: $white;
  width: 304px;
  height: 295px;
  box-shadow: 0px 4px 24px #00000014;
  border-radius: 4px;
  transition: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;

  .card {
    position: relative;
    
    .card-header{
      display: flex;
      justify-content: space-between;
      width: 90%;
      align-items: center;
      position: absolute;
      top: 16px;
      left: 16px;

      .remove-category-wrapper{
        background-color: $white;
        border-radius: 100%;
        padding: 4px;
        display: flex;
        cursor: pointer;
      }
      .remove-category-wrapper:hover{
        transform: translateY(-2px);
        box-shadow: 0px 6px 15px #00000014;
      }
      .numberofphotos {
        background-color: $grey;
        padding: 5px 12px;
        color: white;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 400;
      }
    }
    .card-img{
      width: 100%;
      border-radius: 4px 4px 0px 0px;
    }
  }

  p {
    text-align: center;
    padding: 20px 0;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
  }
}

.card-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 15px #00000014;
}
